---
import type { InferEntrySchema } from "astro:content";
import Badge from "./badge.astro";

type Blog = InferEntrySchema<"blog">;

interface Props extends Blog {
  // id for routing
  postId: string;
  // remark plugin generated front-matter
  readingTime?: string;
  wordCount?: number;
}

const {
  postId,
  title,
  description,
  readingTime,
  wordCount,
  pubDate,
  updatedDate,
  labels,
} = Astro.props;
---

<!-- Card -->
<div class="ring-muted @container/card min-h-52 w-full max-w-sm ring">
  <a
    href={`/blog/${postId}/`}
    class="bg-card text-card-foreground flex h-full w-full min-w-60 flex-col justify-between gap-6 p-4 @2xs/card:p-6"
  >
    <div class="flex flex-col items-stretch gap-4">
      <!-- Card Header -->
      <!-- TODO: Fix alignment on text-wrapped header and date  -->
      <div
        class="flex flex-col gap-2 @2xs/card:flex-row @2xs/card:justify-between @2xs/card:gap-6"
      >
        <h1 class="align-top leading-none font-bold">
          {title}
        </h1>
        <time
          datetime={(updatedDate ?? pubDate).toISOString()}
          class="text-muted-foreground h-lh text-sm text-nowrap"
        >
          {
            (updatedDate ?? pubDate).toLocaleDateString("en-us", {
              month: "short",
              day: "numeric",
            })
          }
        </time>
      </div>
      <!-- Card Body-->
      <p class="relative text-sm">
        <!-- TODO: add height and bottom mask-b-from-5% bg-card -->
        {description}
      </p>
    </div>
    <!-- Card Footer -->
    {
      labels && labels.length > 0 && (
        <div class="flex flex-wrap gap-2">
          {labels.map((label) => (
            <>
              <Badge variant={"primary"}>{label.category}</Badge>
              {label.tags.map((tag) => (
                <Badge variant={"outline"}>{tag}</Badge>
              ))}
            </>
          ))}
        </div>
      )
    }
    {
      wordCount && readingTime && (
        <div class="text-muted-foreground text-sm">
          <span>{wordCount} words</span>
          &middot
          <span>{readingTime}</span>
        </div>
      )
    }
  </a>
</div>
