---
import { USERNAME } from "../consts";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import GitHub from "@lucide/astro/icons/github";
import RSS from "@lucide/astro/icons/rss";
import NavLink from "./nav-link.astro";
import ThemeToggle from "./theme-toggle.astro";
---

<header class="sticky top-0 z-50 container mx-auto px-2">
  <nav
    class="bg-card text-card-foreground ring-muted mt-(--navbar-margin-top) flex h-(--navbar-height) items-center justify-between p-4 ring-1"
  >
    <a href={`${import.meta.env.BASE_URL}/`} class="flex items-center gap-1.5">
      <Image src={logo} alt="site logo" class="size-10 shrink-0" />
      <h1 class="hidden text-3xl font-bold md:block lg:text-4xl">{USERNAME}</h1>
    </a>
    <div
      class="align-center hidden gap-8 text-2xl font-bold italic md:flex lg:text-3xl"
    >
      <NavLink href={`${import.meta.env.BASE_URL}/blog`}>Blog</NavLink>
      <!-- TODO: add contact page -->
      <!-- <NavLink href={`${import.meta.env.BASE_URL}/contact`}>Contact</NavLink> -->
      <NavLink href={`${import.meta.env.BASE_URL}/resume`}>Resume</NavLink>
    </div>
    <div class="flex gap-3">
      <ThemeToggle>
        <span class="sr-only">Toggle light/dark mode</span>
      </ThemeToggle>
      <a href="https://github.com/jmgogo" target="_blank">
        <span class="sr-only">Checkout my GitHub profile</span>
        <GitHub class="size-8" />
      </a>
      <a href="">
        <span class="sr-only">Subscribe to my RSS Feed</span>
        <RSS class="size-8" />
      </a>
    </div>
    <div class="md:hidden">
      <div id="ham-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="sr-only">Toggle mobile menu</span>
    </div>
  </nav>
  <div id="off-screen-menu" class="md:hidden">
    <NavLink href={`${import.meta.env.BASE_URL}/blog`}>Blog</NavLink>
    <!-- TODO: add contact page -->
    <!-- <NavLink href={`${import.meta.env.BASE_URL}/contact`}>Contact</NavLink> -->
    <NavLink href={`${import.meta.env.BASE_URL}/resume`}>Resume</NavLink>
  </div>
</header>

<script>
  // get elements
  const hamMenu = document.querySelector("#ham-menu");
  const offScreenMenu = document.querySelector("#off-screen-menu");

  try {
    // handle case where elements are not found
    if (!hamMenu || !offScreenMenu) {
      throw new Error("Could not find ham menu or off screen menu");
    }

    // close off-screen menu on resize past md breakpoint
    window.onresize = () => {
      if (window.innerWidth >= 768) {
        offScreenMenu.classList.remove("active");
        hamMenu.classList.remove("active");
      }
    };

    // toggle off-screen menu
    hamMenu.addEventListener("click", () => {
      hamMenu.classList.toggle("active");
      offScreenMenu.classList.toggle("active");
    });
  } catch (error) {
    if (error instanceof Error) {
      console.error("Error initializing navbar: ", error.message);
    }
  }
</script>

<style>
  /* off-screen-menu */
  #off-screen-menu {
    background-color: var(--color-muted);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    font-size: 3rem;
    transition: 0.3s ease;
    font-style: italic;
  }
  #off-screen-menu.active {
    right: 0;
  }

  /* ham menu */
  #ham-menu {
    height: 40px;
    width: 32px;
    margin-left: auto;
    position: relative;
  }

  #ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 10;
  }
  #ham-menu span:nth-child(1) {
    top: 25%;
  }
  #ham-menu span:nth-child(3) {
    top: 75%;
  }
  #ham-menu.active span {
    background-color: var(--color-secondary);
  }
  #ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  #ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
</style>
